<%- contentFor('body') %>

    <div class="container">
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="col-md-6 text-center">
                <div class="error-content animate__animated animate__fadeIn">
                    <h1 class="display-1 text-primary mb-4">
                        <%= title %>
                    </h1>
                    <p class="lead mb-4">
                        <%= message %>
                    </p>
                    <a href="/" class="btn btn-primary btn-lg">Return to Home</a>
                </div>
            </div>
        </div>
    </div>